{% extends '::base.html.twig' %}

{%block container %}
<div class="span6">

  {% image '@uosuostmsBundle/Resources/public/img/4th floor/lec.Hall FGL3/pho/DSC00109.jpg'
    filter='jpegoptim' output='/images/example.jpg' %}
    <img src="{{ asset_url }}" alt="Example"/>
{% endimage %}
    
 {% image '@uosuostmsBundle/Resources/public/img/4th floor/lec.Hall FGL3/pho/DSC00111.jpg'
    filter='jpegoptim' output='/images/example.jpg' %}
    <img src="{{ asset_url }}" alt="Example"/>
{% endimage %}
    
    {% image '@uosuostmsBundle/Resources/public/img/4th floor/lec.Hall FGL3/pho/DSC00112.jpg'
    filter='jpegoptim' output='/images/example.jpg' %}
    <img src="{{ asset_url }}" alt="Example"/>
{% endimage %}
    {% image '@uosuostmsBundle/Resources/public/img/4th floor/lec.Hall FGL3/pho/DSC00113.jpg'
    filter='jpegoptim' output='/images/example.jpg' %}
    <img src="{{ asset_url }}" alt="Example"/>
{% endimage %}
    {% image '@uosuostmsBundle/Resources/public/img/4th floor/lec.Hall FGL3/pho/DSC00114.jpg'
    filter='jpegoptim' output='/images/example.jpg' %}
    <img src="{{ asset_url }}" alt="Example"/>
{% endimage %}
    {% image '@uosuostmsBundle/Resources/public/img/4th floor/lec.Hall FGL3/pho/DSC00115.jpg'
    filter='jpegoptim' output='/images/example.jpg' %}
    <img src="{{ asset_url }}" alt="Example"/>
{% endimage %}
    
    •	Chairs – 80<br>
    •	multimedia projector <br>
    •	white board – 1<br>
    •	computer -1<br>
    •	office table with chair<br>
    •	tube lights -6<br>
    •	fans -4<br>
    </br>

    
    
        <form  method ="POST" action="{{path('uosuostms_falll')}}">
                    
              <button type="submit" class="btn">OK</button>
            </form>
        
        {%endblock%}

{%block sideMenu %}

              <ul class="nav nav-list">
              <li  class="nav-header" ><b>Home</b></li>
              
              {% if job== 'student' %}    
              
              <li class="nav-header">Student</li>
              <li ><a  href="{{ path('uosuostms_fs')}}">Search Timetable </a></li>
              <li class="active" ><a href="{{ path('uosuostms_falll')}}">Find Free Halls</a></li>
              
              {% endif %}
              
              {% if job== 'lecturer' %}   
              
              <li class="nav-header">Lecturer</li>
              <li ><a  href="{{ path('uosuostms_fttl')}}">Search Timetable </a></li>
              <li ><a href="{{ path('uosuostms_ff')}}">Find All</a></li>    
              {% endif %}
              </ul>   
              
{%endblock%}
